@media (max-width: 780px) {
    .sanping {
        text-align: center !important;
    }
    #num5 {
        text-align: center !important;
    }
}


/* 轮播图 */

.banner {
    width: 100%;
    height: 900px;
}

.banner-box {
    width: 100%;
    height: 900px;
    background: url(../img/banner.jpg);
    background-size: 100%;
    animation: lbt 25s 2s infinite alternate;
}

@keyframes lbt {
    0% {
        background: url(../img/banner.jpg);
        background-size: 100%;
    }
    25% {
        background: url(../img/banner3.jpg);
        background-size: 100%;
    }
    50% {
        background: url(../img/banner4.jpg);
        background-size: 100%;
    }
    75% {
        background: url(../img/banner5.jpg);
        background-size: 100%;
    }
    100% {
        background: url(../img/banner.jpg);
        background-size: 100%;
    }
}


/* jumbotron内容模块 */

.main>.jumbotron {
    position: relative;
    height: 280px;
    width: 100%;
    padding-top: 80px;
    background-size: cover;
}

.main>.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 280px;
    width: 100%;
    background: url(../img/top.png) no-repeat 100%;
    filter: blur(100px);
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
}

.col-lg-4 {
    padding: 50px 30px;
}

.col-lg-4>.py-3 {
    height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

#num2 {
    opacity: 0;
    color: #fff;
}

#num1 {
    opacity: 0;
    color: #fff;
    text-align: center;
}

#num3 {
    opacity: 0;
}

@keyframes fcl {
    0% {
        transform: translateX(-2000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fcr {
    0% {
        transform: translateX(2000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.feirul {
    /* Safari 和 Chrome */
    opacity: 1;
    animation: fcl .8s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.feirur {
    /* Safari 和 Chrome */
    opacity: 1;
    animation: fcr .8s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.btn-primary {
    color: #000;
    border: 1px solid #00a4ff;
    background-color: #fff;
    transition: all .3s;
}

.btn-primary:hover {
    background-image: linear-gradient(to right, #00a4ff, #0158c0);
    border: none;
}


/* row模块 */

.row .col-lg-4>img {
    border-radius: 50%;
}

.col-lg-4 {
    transition: all .3s;
}

.col-lg-4:hover {
    box-shadow: 3px 5px 10px #ccc;
    transform: translateY(-10px);
}

.row .col-lg-4:hover {
    background-color: #fff;
}

.btn-default {
    padding: 5px 10px;
    background-color: rgb(236, 235, 235);
    box-shadow: 0 3px 6px #ccc;
    transition: all .3s;
}

.btn-default:hover {
    background-color: #fff;
    color: #000;
}


/* swiper */

.swiper {
    width: 100%;
    height: 700px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}


/* shijianzhou */

#shijianzhou {
    width: 350px;
    height: 400px;
    padding: 0 20px;
}

#shijianzhou .sjz-img {
    height: 250px;
    overflow: hidden;
}

#shijianzhou .sjz-img a img {
    transition: all .4s;
    width: 100%;
}

#shijianzhou .sjz-img:hover a img {
    transform: scale(1.2);
}

#shijianzhou .sjz-text {
    width: 100%;
    height: 150px;
}

#shijianzhou .sjz-text p {
    font-size: 14px;
}

#shijianzhou .sjz-text span {
    padding-left: 20px;
    background: url(../img/sj-icon.png) no-repeat left center;
    background-size: 15px;
    font-size: 14px;
    color: 333;
    font-weight: 600;
}

#shijianzhou img {
    width: 100%;
    height: 100%;
}


/* 双屏 */

.shuangping {
    position: relative;
    padding: 100px 10px;
}

.sp-box-l {
    display: flex;
    justify-content: space-between;
    height: 700px;
    width: 100%;
    padding-top: 50px;
}

.bi2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bi2.png);
    filter: blur(100px);
}

.sp-l {
    position: relative;
    width: 45%;
    z-index: 100;
}

.sp-l h6 {
    font: 12px;
}

.sp-l h2 {
    font: 30px;
    font-weight: 700;
    color: #00a4ff;
}

.sp-box-r {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    box-sizing: border-box;
}

.sp-r {
    position: relative;
    width: 50%;
    height: 33.33%;
    padding: 5px;
    color: #000;
    z-index: 100;
}

.sp-r:hover {
    background-image: url(../img/rw1.jpg);
    background-size: 100%;
}

.sp-r h6 {
    width: 80%;
}

.sp-r span {
    position: absolute;
    bottom: 20px;
    font-size: 10px;
}


/* 三屏 */

.sanping {
    position: relative;
}

.ib-3 {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/bi4.png);
    filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.sanping>.bx {
    position: relative;
    z-index: 50;
}

.red-bg {
    position: relative;
    width: 480px;
    height: 500px;
    background-color: #00a4ff;
    border-radius: 2px;
}

.red-bg img {
    width: 350px;
    height: 350px;
}

#img1,
#img2,
#img3 {
    opacity: 0;
}

#num4,
#num5,
#num6 {
    opacity: 0;
}

#num5 {
    text-align: right;
}


/* 控制文字垂直高度 */

.col-md-7 {
    padding-top: 200px;
}


/* 返回顶部 */


/* return top */

#huojian {
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: none;
    /* color: white; */
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    animation: hj 2s infinite;
}

@keyframes hj {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

#huojian:hover {
    /* background-color: #9F9F9F; */
    opacity: 0.5;
    animation-play-state: paused;
}


/* kapian */

.kapian {
    position: relative;
    /* 弹性布局 允许换行 水平居中 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 0;
    z-index: 999;
}

.kapian>a {
    display: block;
    width: 100%;
    height: 100%;
}

.bi1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/bi1.png);
    filter: blur(100px);
}

.box {
    width: 350px;
    margin: 10px;
    text-align: center;
    margin: 0 50px;
    position: relative;
    /* 开启3D效果 */
    transform-style: preserve-3d;
    /* 设置视距 */
    perspective: 3000px;
}

.box .box-one {
    width: 350px;
    height: 500px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, .4);
    border-right: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
    backdrop-filter: blur(2px);
}

.box-one p {
    font-size: 30px;
    color: #000;
}

.box-one span {
    font-size: 14pxpx;
    color: #666;
}

.boi {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.boi img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.box .box-two {
    /* 绝对定位 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
    background: linear-gradient(220deg, rgba(0, 51, 255, .4), rgba(138, 252, 155, .4));
    padding: 30px;
    color: #fff;
    opacity: 0;
    transform: translateY(110px) rotateX(-90deg);
    transition: 0.5s ease;
    backdrop-filter: blur(2px);
}

.box .box-two span {
    font-size: 20px;
}

.box .box-two p {
    font-size: 14px;
    line-height: 1.5rem;
}


/* 鼠标移入卡片，两个面做出相应的变化 */

.box:hover .box-one {
    opacity: 0;
    transform: translateY(-110px) rotateX(90deg);
}

.box:hover .box-two {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}